<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Pop-up Notificaciones</title>
    <link rel="stylesheet" href="../css/habeasData.css">
</head>

<body>
    <div class="popup" id="popup">
        <span class="close" id="close-popup">&times;</span>
        <h2>Notificaciones</h2>
        <p>En ShopSense, queremos ofrecerte la mejor experiencia posible. Habilitar las notificaciones te permitirá
            estar al tanto de las últimas actualizaciones, ofertas exclusivas y novedades emocionantes de manera
            instantánea.
            No te pierdas nunca más una oferta especial o una actualización importante. Con las notificaciones
            activadas, estarás siempre un paso adelante.
            ¡Habilita las notificaciones ahora y vive una experiencia totalmente personalizada!
        </p>
        <form action="/crud_n" method="post">
            <button type="submit" id="accept" name="accept" value="aceptar">Aceptar</button>
            <button type="submit" id="denegar" name="denegar" value="denegar">Denegar</button>
        </form>
    </div>


    <script src="../js/notificaciones.js"></script>



</body>

</html>