body {
    margin: 0;
    overflow: hidden;
    font-size: 16px; /* Establece un tamaño de fuente base */
}

.elemento-desplazable {
    position: absolute;
    width: 8%; /* Utiliza porcentaje para el ancho */
    height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
    cursor: grab;
    left: 5%; /* Utiliza porcentaje para la posición */
    top: 15%; /* Utiliza porcentaje para la posición */
}

.overlay {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 500px; /* Adjust the width to 500px */
    height: 600px; /* Adjust the height to 600px */
    background-color: rgb(154, 154, 255);
    z-index: 9999;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-button {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según tus necesidades */
    right: 10px; /* Ajusta la posición horizontal según tus necesidades */
    cursor: pointer;
    font-size: 24px;
    color: white; /* Cambia el color del botón de cierre */
}
